# Web Scraping Wikipedia Page for States and Abbreviations

Using the pandas to scrape page for df set of States and their Abbreviations to help match up for datasets.

### Import dependencies

In [18]:
import pandas as pd
import os

### Define a variable to store the [URL for US capitals](https://en.wikipedia.org/wiki/List_of_capitals_in_the_United_States)

In [10]:
url = 'https://en.wikipedia.org/wiki/List_of_capitals_in_the_United_States'

### Read HTML page with Pandas
We can use the [`read_html`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_html.html) function in Pandas to automatically scrape any tabular data from a page.

In [16]:
tables = pd.read_html(url)
len(tables)

7

### Pulling the main table that has all State Data
This table has multiple pieces of information with regards to the US States, including Abbreviations.

In [13]:
df = tables[0]
df.columns = ['State', 'Abr.', 'State-hood Rank', 'Capital', 
              'Capital Since', 'Area (sq-mi)', 'Municipal Population', 'Metropolitan', 
              'Metropolitan Population', 'Population Rank', 'Notes']
df.head()

,State,Abr.,State-hood Rank,Capital,Capital Since,Area (sq-mi),Municipal Population,Metropolitan,Metropolitan Population,Population Rank,Notes
0,Alabama,AL,1819,Montgomery,1846,159.8,198218,373903.0,2,119.0,Birmingham is the state's largest city.
1,Alaska,AK,1959,Juneau,1906,2716.7,31275,NaN,3,NaN,Largest capital by municipal land area.
2,Arizona,AZ,1912,Phoenix,1889,517.6,1660272,4857962.0,1,5.0,Phoenix is the most populous capital city in t...
3,Arkansas,AR,1836,Little Rock,1821,116.2,193524,699757.0,1,117.0,Little Rock is the largest city and metropolit...
4,California,CA,1850,Sacramento,1854,97.9,508529,2345210.0,6,35.0,NaN

### Create new dataframe based off needed columns from State Data table

In [15]:
state_abbreviations = df[['State','Abr.']]
state_abbreviations.head()

        State Abr.
0     Alabama   AL
1      Alaska   AK
2     Arizona   AZ
3    Arkansas   AR
4  California   CA

### Export States and Abbreviations to CSV for use with other analyses

In [19]:
state_abbreviations.to_csv(os.path.join("Data", "state_abbreviations.csv"))